<header>
 <div class="contain">
  <a href="/">Home</a>

  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Menu</button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/createuser"> New User</a>
      <a href="/login">Login</a>
      <a href="/gallery/New">Add Photo</a>
    </div>
  </div>
</div>
</header>