<div class="container_single">
  <div id="left_column_single">
    <div id="first_single">
          {{data.author}} <br><br>
          <img src="{{data.link}}"><br><br><br>
          {{data.description}} <br>
    </div>
  </div>
</div>
