
<div id="left_column">
  <div id= "header">
   <div class="name">
      _ARCHITEKT
    </div>
     <div id="welcome">
      Welcome to our online portfolio, we are small group <br> of pasionatedesigners and architects, looking to <br> change and create amazing digital images to <br>  inspire others to follow in opur innovative steps. Free <br> Architect WordPress Theme
     </div>
   </div>


  <div id="first">
    {{#each data}}
      {{#if @last}}
        {{author}} <br><br>
        <img src="{{link}}"><br><br><br>
      {{/if}}
    {{/each}}
  </div>
</div>

<div class="pic_container">

    {{#each data}}
      {{#unless @last}}
        <div class= "pictures"><br>
          <img src="{{link}}">
         {{author}} <br>
        </div>
        {{/unless}}
    {{/each}}
</div>
