<header>
   <div class="contain">
    <a href="/">Home</a>
    <a href="/">My Photos</a>
    <a href="/gallery/New">Add Photo</a>
    <a href="">Edit Photo</a>
    <a href="/login">Log Out</a>
  </div>
</header>