<div class="add_photo_header">Add Photo</div>
<br>
<div>
  <form action="/gallery-submission" method="post">
  <label for="link">Link</label>
  <input id="link" type="text" name="link" placeholder="link">
  <br>
  <label for="author">Author</label>
  <input id = "author" type="text" name="author" placeholder="Author">
  <br>
  <label for="description">
  Description</label>
  <input id = "description" type="text" name="description" placeholder="description">
  <br>
  <input type="submit" name="" value="Send">
  <div class="add_meta_field">
  <ul id="meta_fields"></ul>

  <button id="add_meta_field_button" type="button" >Add Meta Data</button>
</div>
</form>
</div>
<br>
<br>
<script src="/js/metaFields.js"></script>