<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

{{>header}}

{{!-- {{#if log}}
  {{>logged_on_header}}
{{else}}
  {{>logged_off_header}}
{{/if}} --}}

  <div class="container">
    <div id= "header">
   <div class="name">
      _ARCHITEKT
    </div>
     <div id="welcome">
      Welcome to our online portfolio, we are small group <br> of pasionatedesigners and architects, looking to <br> change and create amazing digital images to <br>  inspire others to follow in opur innovative steps. Free <br> Architect WordPress Theme
     </div>
   </div>
    {{{body}}}
  </div>
 <script>
 function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
};
 </script>
</body>
</html>